<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Team Column -->
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.team}} </mat-cell>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="nowCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cost (m) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nowCost}} </mat-cell>
    </ng-container>

    <!-- Minutes Played Column -->
    <ng-container matColumnDef="minutesPlayed">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Minutes Played </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.minutesPlayed}} </mat-cell>
    </ng-container>

    <!-- Points Column -->
    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.points}} </mat-cell>
    </ng-container>

    <!-- Points Per 90 Column -->
    <ng-container matColumnDef="pointsPerNinety">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pts/90 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pointsPerNinety}} </mat-cell>
    </ng-container>

    <!-- Points Per 90 Per Now Cost Column -->
    <ng-container matColumnDef="pointsPerNinetyPerNowCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pts/90/Cost </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pointsPerNinetyPerNowCost}} </mat-cell>
    </ng-container>

    <!-- ICT Index Column -->
    <ng-container matColumnDef="ictIndex">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ICT Index </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ictIndex}} </mat-cell>
    </ng-container>

    <!-- ICT Index Per 90 Column -->
    <ng-container matColumnDef="ictIndexPerNinety">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ICT/90 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ictIndexPerNinety}} </mat-cell>
    </ng-container>

    <!-- ICT Index Per 90 Per Now Cost Column -->
    <ng-container matColumnDef="ictIndexPerNinetyPerNowCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ICT/90/Cost </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ictIndexPerNinetyPerNowCost}} </mat-cell>
    </ng-container>

    <!-- Conceded Column -->
    <ng-container matColumnDef="conceded">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Conceded </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.conceded}} </mat-cell>
    </ng-container>

    <!-- Conceded Per Minute Played Column -->
    <ng-container matColumnDef="concededperNinety">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Con/Min </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.concededperNinety}} </mat-cell>
    </ng-container>

    <!-- Conceded Per 90 Per Now Cost Column -->
    <ng-container matColumnDef="concededPerNinetyPerNowCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> C/90/Cost </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.concededPerNinetyPerNowCost}} </mat-cell>
    </ng-container>

    <!-- Clean Sheets Column -->
    <ng-container matColumnDef="cleanSheets">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CS </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cleanSheets}} </mat-cell>
    </ng-container>

    <!-- Clean Sheets Per 90 Column -->
    <ng-container matColumnDef="cleanSheetsPerNinety">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CS/90 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cleanSheetsPerNinety}} </mat-cell>
    </ng-container>

    <!-- Clean Sheets Per 90 Per Now Cost Column -->
    <ng-container matColumnDef="cleanSheetsPerNinetyPerNowCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CS/90/Cost </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cleanSheetsPerNinetyPerNowCost}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;"
             [ngClass]="{'element-picked' : element.picked}">
    </mat-row>
  </mat-table>
</div>
