<h1>Players</h1>

<p *ngIf="!players"><em>Loading...</em></p>

<table matSort (matSortChange)="sortData($event)" class='table' *ngIf="players">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="points">Points</th>
      <th mat-sort-header="nowCost">Current Price</th>
      <th mat-sort-header="minutesPlayed">Minutes Played</th>
      <th mat-sort-header="goals">Goals</th>
      <th mat-sort-header="assists">Assists</th>
      <th mat-sort-header="conceded">Conceded</th>
      <th mat-sort-header="cleanSheets">Clean Sheets</th>
      <th mat-sort-header="ictIndex">ICT Index</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of sortedPlayers">
      <td>{{ player.name }}</td>
      <td>{{ player.points }}</td>
      <td>{{ player.nowCost }}</td>
      <td>{{ player.minutesPlayed }}</td>
      <td>{{ player.goals }}</td>
      <td>{{ player.assists }}</td>
      <td>{{ player.conceded }}</td>
      <td>{{ player.cleanSheets }}</td>
      <td>{{ player.ictIndex }}</td>
    </tr>
  </tbody>
</table>
