<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]='["/"]' (click)='collapse()'>
      <span class="navbar-link">Home</span>
    </a>
    <a [routerLink]='["/players"]' (click)='collapse()'>
      <span class="navbar-link">Players</span>
    </a>
    <a [routerLink]='["/forwards"]' (click)='collapse()'>
      <span class="navbar-link">Forwards</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
