<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fantasy Premier League</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-home'></span> Home
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/players"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-user'></span> Players
        </a>
      </li>
    </ul>
  </div>
</nav>
